/*
************************
Created by Stepan Pesout
*****www.pesout.eu******
************************
*/
body,
article,
h2,
button,
div,
section {
  font-family: sans-serif;
}
body {
  background-color: #ddd;
  width: 90%;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 10px;
  padding-bottom: 10px;
  font-weight: bold;
}
#back,
#back2 {
  font-size: 14pt;
  height: 50px;
  width: 100%;
  background-color: #007FFF;
  border: 1px solid #888;
  color: #fff;
  border-radius: 3px;
  display: none;
}
#back2 {
  margin-top: 15px;
}
h2 {
  font-size: 17pt;
  padding-bottom: 5px;
  text-align: center;
}
#chosen-chords {
  font-size: 14pt;
  text-align: center;
  padding-top: 5px;
  padding-bottom: 6px;
  margin-bottom: 3px;
  border-radius: 4px;
  border: 1px solid #888;
  color: #fff;
  background-color: #007FFF;
}
.chord-list button {
  font-size: 13pt;
  background-color: #007FFF;
  border: 1px solid #888;
  border-radius: 2px;
  color: #fff;
  padding: 7px;
  width: 60px;
  margin: 5px;
}
.chord-list .ui-accordion-content {
  text-align: center;
}
.chord-list .ui-accordion-header {
  font-size: 14pt;
  background-color: #fff;
}
.chord-list .ui-accordion-header-active {
  color: #fff;
  background-color: #007FFF;
}
.transposition {
  text-align: center;
  margin-top: 10px;
}
.transposition button {
  font-size: 14pt;
  height: 50px;
  width: 49%;
  background-color: #007FFF;
  border: 1px solid #888;
  color: #fff;
  border-radius: 3px;
}
.transposition button:first-child {
  margin-right: 0.2%;
}
.transposition button:nth-child(2) {
  margin-left: 0.2%;
}
#transposed-chords {
  text-align: center;
  font-size: 25pt;
}
#transposed-chords .chord {
  display: inline-block;
  border: 1px solid black;
  font-size: 13pt;
  background-color: #007FFF;
  border: 1px solid #888;
  border-radius: 2px;
  color: #fff;
  padding: 7px;
  width: 60px;
  margin: 5px;
  text-align: center;
}
#transposed-chords .transposed-chords-inner {
  background-color: #fff;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.12), 0 2px 4px 0 rgba(0, 0, 0, 0.08);
  border-radius: 4px;
  margin-top: 15px;
  padding: 20px;
}
